:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --box: rgba(4, 53, 32, 0.3);
    --button: rgba(0, 0, 0, 0.8);
    --item-list: rgba(4, 53, 32, 0.3);
    --primary-text: rgba(4, 53, 32, 0.8);
}

html {
    font-size: 62.5%;
}

body {
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container, .row {
    padding: 0;
}

.term-container {
    color: white;
    margin-top: 3vh;
    background: var(--box);
    border-radius: 20px;
}

h2 {
    padding: 10px;
    font-family: 'Righteous', 'Candara';
    font-size: 6rem;
    color: var(--primary-text);
    text-align: center;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary-text);
    font-size: 3rem;
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    width: 90%;
}

textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    width: 30%;
    border-radius: 5px;
    padding: 5px;
}

ul {
    list-style: none;
}


.item-list {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--item-list);
    margin: 10px auto;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-item input[type="text"] {
    border: none;
}

.list-item input[type="text"]:last-of-type {
    margin-bottom: 10px;
}

.list-item .confirm {
    color: white;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--button);
    margin-left: 5px;
    margin-bottom: 5px;
    max-height: 30px;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    display: block;
}

.list-item .cancel {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--button);
    margin-left: 5px;
    margin-bottom: 5px;
    max-height: 30px;
    display: block;
    width: 100px;
}

.list-item div {
    flex-grow: 2;
}

.icons .edit {
    color: white;
    margin-right: 10px;
    cursor: pointer;
    margin-left: auto;
}

.icons .remove {
    color:  white;
    margin-right: 5px;
    cursor: pointer;
}

.addTermButton {
    width: 160px;
    height: 36px;
    background-color: var(--primary-text);
    border-radius: 5px;
    position: relative;
    font-size: 1.8rem;
}

.addTermButton span {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    width: 120px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.addTermButton button {
    width: 120px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
}

.arrow {
    color:  var(--button);
    cursor: pointer;
    display: block;
    text-align: end;
}

.addTerm {
    max-width: 70vw;
}

/* .addTerm h3 {
    color: var(--primary-text);
} */

.addTerm label {
    max-width: 25%;
    padding-bottom: 5px;
    font-size: 1.6rem;
}

.addTerm input {
    border: none;
    max-width: 65%;
    font-size: 1.6rem;
}

